include README.rst
include LICENSE.txt
include requirements.txt

include tests/data/*

graft src
graft tests
graft data

include pipeline.cfg
include regularizers.cfg
include train.cfg

include pyproject.toml
include tox.ini

include build_artm.sh

global-exclude *.py[cod] __pycache__ *.so *.dylib

# include .travis.yml
include .scrutinizer.yml
# include appveyor.yml

# include .bandit.yml

include .coveragerc

graft .travis


# recursive-include ci *.cmd
# recursive-include ci *.py
